.App {
  text-align: center;
  font-family: 'Merriweather', serif; }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

h1 {
  font-family: 'UnifrakturCook', cursive; }

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center; }

input {
  margin: 20px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 4rem; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
