.News {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 1000px;
  height: 600px;
  flex-direction: column;    
  justify-content: flex-start;
}

.tweet {
  border-bottom: 1px solid #00aced;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

p {
  margin: 0px;
}

h5 {
  margin: 0px;
}