.News {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;    
  justify-content: center;
  width: 1600px;
  margin: auto;

}

.tweet {
  border-bottom: 1px solid #CCC;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.tweet:hover {
  background-color: #DEF2FC;
}

p {
  font-family: 'Merriweather', serif;
  margin: 0px;
  line-height: 1.5em;
  text-align: left;
}

/*p:hover {
  color: #555;
}*/

h2 {
  font-family: 'Merriweather', serif;
  color: #31424B;
  margin: 10px 0px 0px 0px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
}

h2:hover {
  color: #0084b4;
}

h2 .bookmark {
  color: #0084b4;
}

h5 {
  font-family: 'Merriweather', serif;
  color: #31424B;
  margin: 0px;
  font-weight: 700;
  font-variant: small-caps;
  text-align: right;
}

img {
  width: 300px;
}